---
layout: default
title: Plants
scripts:
  - assets/js/indexpage.js
---

<div class="row row-cols-2 row-cols-sm-4 row-cols-md-6">
    {% for attr in site.data["filter_attributes"] %}
    <div class="col-md-2 accordion accordion-flush" id="accordion{{ attr }}">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading{{ attr }}">
          <button class="accordion-button collapsed filter" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ attr }}" aria-expanded="false" aria-controls="flush-collapse{{ attr }}" id="{{ attr }}">
          <span>{{ attr | capitalize }}</span>
          </button>
        </h2>
        <div id="flush-collapse{{ attr }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ attr }}">
          <div class="accordion-body filters">
            {% for value in site.data["filter_values"][attr] %}
            {% assign fltr = value | replace: ' ', '_' | replace: "'", ":" %}
            {% assign fltr_lu = site.data["filter_hierarchy"][fltr] %}
            {% assign classes = fltr_lu | split: '.' | join: " " %}
            {% assign fltr_data = fltr_lu | append: '.' | append: fltr %}
            {% assign attrs = site.data["filter_hierarchy_attrs"][fltr] %}
            {% assign rank = attrs | split: " " | size | minus: 1 %}
            <button class="btn btn-primary plant-category filter-btn{{ classes }}" data-filter="{{ fltr_data }}" data-rank="{{ rank }}" data-attr="{{ attrs }}">{{ value }}</button>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="col-md-2">
    <button class="btn btn-primary plant-category reset-btn" data-filter="*">Reset</button>
    </div>

    <div class="col-md-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" id="search-field">
        <button class="btn btn-outline-secondary search-btn" type="button">Search</button>
      </div>
    </div>
  </div>


<div class="isogrid" id="plant-content">
</div>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <button class="btn btn-primary" id="load-more">Load More</button>
    </div>
  </div>
</div>