<footer>
  <hr class="footer">
    {% include footer_links.html %}
    <script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/jquery-3.7.0.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/isotope.pkgd.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/infinite-scroll.pkgd.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/isotope.js" | relative_url }}"></script>
    {% if page.layout == "plant" %}
    <script src="{{ "/assets/js/masonry.js" | relative_url }}"></script>
    {% endif %}
    {% if page.scripts %}
    {% for script in page.scripts %}
    <script src="{{ script | relative_url }}"></script>
    {% endfor %}
    {% endif %}
</footer>
