<footer>
  <hr class="footer">
    <span style="font-size: small;">
      <a class="link" href="https://github.com/Nordegraf">Imprint</a>&nbsp;
      <a class="link" href="https://gitlab.com/nordegraf">Privacy Statement</a>&nbsp;
    </span><br>
    <span style="font-size: small;">
      &copy; Copyright {{ site.year }} Niklas Conen&nbsp;
    </span>
    <script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/jquery-3.7.0.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/masonry.pkgd.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/masonry.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/isotope.pkgd.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/infinite-scroll.pkgd.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/isotope.js" | relative_url }}"></script>
    {% if page.script %}
    <script src="{{ page.script | relative_url }}"></script>
    {% endif %}
</footer>
