<span style="font-size: small">
  <a class="flink" href="{{ "/tools" | relative_url }}">Tools</a>
  <a class="flink" href="{{ "/taxonomy" | relative_url }}">Taxonomy Tree</a>
  <a class="flink" href="{{ "/license" | relative_url }}">License</a>&nbsp;
  <a class="flink" href="{{ "/contact" | relative_url }}">Contact</a>&nbsp;
  <a class="flink" href="{{ "/feed/plants.xml" | relative_url }}">Feed</a>&nbsp;
  <a class="flink" href="{{ "/imprint" | relative_url }}">Imprint</a>&nbsp;
  <a class="flink" href="{{ "/privacy" | relative_url }}">Privacy Statement</a>&nbsp;
  </span><br/>
<span style="font-size: small">
  &copy; Copyright {{ site.year }} Niklas Conen&nbsp;
</span>
