<div class="bordered">
    <h5>Taxonomy</h5>
    <ol class="taxonomy">
        <li>Kingdom: {{ page.taxonomy.kingdom }}</li>
        <li>Phylum: {{ page.taxonomy.phylum }}</li>
        <li>Class: {{ page.taxonomy.class }}</li>
        <li>Order: {{ page.taxonomy.order }}</li>
        <li>Family: {{ page.taxonomy.family }}</li>
        <li>Genus: {{ page.taxonomy.genus }}</li>
        <li>Species: {{ page.taxonomy.species }}</li>
        {% if page.taxonomy.variety %}
        <li>Variety: {{ page.taxonomy.variety }}</li>
        {% endif %}
    </ol>
    <h5>Taxonomy Data Sourced From:</h5>
    <blockquote>
        {% capture gbiflink %} https://www.gbif.org/species/{{ page.taxonomy.gbifkey}} {% endcapture %}
        <p>GBIF Secretariat: GBIF Backbone Taxonomy. <a href="https://doi.org/10.15468/39omei">https://doi.org/10.15468/39omei</a> Accessed via <a href="{{ gbiflink }}">{{ gbiflink }}</a> <code>[{{ page.date | date: "%-d %B %Y" }}]</code></p>
    </blockquote>
</div>