$accordion-button-active-color:     $secondary;
$accordion-button-focus-border-color: $secondary;
$accordion-button-active-bg:        rgba(0, 0, 0, 0);
$accordion-border-width:            0;
$accordion-icon-color:              $primary;
$accordion-icon-active-color:       $primary;

$hr-opacity: 1;

$fa-font-path:        "../fonts/fontawesome";
